.equipos-container {
  display: flex;
  min-height: 100vh;
  background: #1e1e1e;
}

.equipos-main {
  flex: 1;
  padding: 25px 35px;
  color: white;
}

.btn-back {
  background: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn-back svg {
  font-size: 20px;
}

/* Search */
.search-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.search-bar {
  width: 350px;
  background: #3a3a3a;
  border-radius: 10px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1;
  background: none;
  border: none;
  color: white;
  outline: none;
}

.search-icon {
  font-size: 21px;
}

.search-actions {
  display: flex;
  gap: 12px;
}

.btn-orange {
  background: #ff6a00;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.btn-purple {
  background: #93278f;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Title */
.equipos-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 10px;
  font-size: 15px;
  color: white;
  text-align: left;
}

/* Sticky Header */
.table-container table thead th {
  background: #3a3a3a;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Row states */
tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background: rgba(147, 39, 143, 0.35);
}

.selected-row {
  background: #93278f !important;
}

.detail-btn {
  text-align: center;
  font-weight: bold;
}

/* TABLE CONTAINER WITH SCROLL */
.table-container {
  height: 350px; /* Altura definida */
  overflow-y: auto;
  background: #3a3a3a;
  padding: 10px;
  border-radius: 12px;
}

/* Scroll Blanco */
.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

/* Prevent horizontal scroll */
.table-scroll {
  width: 100%;
  overflow-x: hidden;
}
